DEBUG=True
SECRET_KEY=django-insecure-j8op9)1q8$1&0^s&p*_0%d#pr@w9qj@1o=3#@d=a(^@9@zd@%j
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=
TIME_ZONE=Asia/Dhaka

DATABASE_URL=postgresql://nadeem:nadeem@localhost:5432/talent_wave
DB_INIT_PASSWORD=d3f6a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d
